<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Admin dashboard </span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a (click)="showAdminComponent('orders')"
           class="nav-link"
           routerLink="/admin/orders"
           routerLinkActive="active">
          <i class="fab fa-first-order icon"></i>Orders
        </a>
      </li>
      <li class="nav-item">
        <a (click)="showAdminComponent('categories')"
           class="nav-link"
           routerLink="/admin/categories"
           routerLinkActive="active">
          <i class="fab fa-canadian-maple-leaf icon"></i>Categories
        </a>
      </li>
      <li class="nav-item">
        <a (click)="showAdminComponent('products')"
           class="nav-link"
           routerLink="/admin/products"
           routerLinkActive="active">
          <i class="fab fa-codepen icon">Products</i>
        </a>
      </li>
      <li class="nav-item">
        <button (click)="logout()" class="btn btn-outline-danger btn-sm">Logout</button>
      </li>
    </ul>
  </header>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-lg-10 overflow-auto">
      <!--
      <ng-container [ngSwitch]="adminComponent">
        <app-order-admin *ngSwitchCase="'orders'"></app-order-admin>
        <app-product-admin *ngSwitchCase="'products'"></app-product-admin>
        <app-category-admin *ngSwitchCase="'categories'"></app-category-admin>
      </ng-container>
      -->
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-1"></div>
  </div>
  <app-footer></app-footer>
</div>
